@model WebApplication1.Models.Storage

@{
    ViewData["Title"] = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Складские помещения</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfStorage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameOfStorage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InventoryNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DesignatedEmployee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DesignatedEmployee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SquareOfStorage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SquareOfStorage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tonnage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tonnage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FillingPercentage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FillingPercentage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeOfStorage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfStorage.TypeOfStoragesID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StoragesID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>
